@import "../../styles/responsive.scss";

nav {
  z-index: 50;

  @include md {
    position: fixed;
    inset-block: 0;
    right: 30px;
    display: flex;
    align-items: center;
  }

  .nav_menu {
    background-color: var(--container-color);
    position: fixed;
    inset-block: 0;
    left: -100%;
    width: 100%;
    padding: 60px 30px;
    transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    z-index: 10;

    @include md {
      all: unset;
    }

    ul {
      li {
        @include md {
          margin-block: 20px;
        }
     

        .nav_link {
          display: flex;
          align-items: center;
          column-gap: 24px;
          border-bottom: 1px solid var(--border-color);
          padding-block: 14px;
          color: var(--title-color);
          font-size: 24px;

          @include md {
            padding: 0;
            border-bottom: none;
            background-color: var(--container-color);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;

            &:hover {
              background-color: var(--first-color);

              svg {
                color: var(--text-white);
              }
              h3 {
                right: 27px;
                color: var(--text-white);
                opacity: 1;
                visibility: visible;
                border-radius: 30px 0 0 30px;
              }
            }

            svg {
              font-size: 20px;
              margin-inline: auto;
            }
           
          }
          @include xsm{
            column-gap: 20px;
            font-size: var(--h3-font-size);
          }

          h3 {
            font-weight: var(--weight-500);

            @include md {
              position: absolute;
              top: 0;
              right: 0;
              background-color: var(--first-color);
              height: 100%;
              line-height: 50px;
              padding-inline: 30px 25px;
              border-radius: 30px;
              font-size: var(--small-font-size);
              color: var(--text-white);
              opacity: 0;
              visibility: hidden;
              transition: all .3s ease;
              z-index: -1;
            }
          }
        }
        .active_nav {
          color: var(--first-color);

          @include md {
            background-color: var(--first-color);

            svg {
              color: var(--text-white);
            }
            h3 {
              color: var(--text-white);
            }
          }

          h3 {
            color: var(--first-color);
          }
        }
      }
    }
  }
  .nav_menu.show_menu {
    left: 0;
  }

  .nav_toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    background-color: var(--container-color);
    border-radius: 5px;
    cursor: pointer;
    padding: 12px 10px;
    z-index: 100;

    @include md {
      display: none;
    }
    @include xsm{
      top: 13px;
      right: 15px;
    }

    span {
      display: block;
      width: 20px;
      height: 2px;
      border-radius: 2px;
      margin-bottom: 5px;
      background-color: var(--title-color);
    }
  }

  .nav_toggle.animate_toggle {
    span {
      &:first-child {
        transform: rotate(45deg) translate(6px, 4px);
      }
      &:last-child {
        transform: rotate(-45deg) translate(1px, 1px);
      }
      &:nth-child(2) {
        display: none;
      }
    }
  }
}


